@import url(./__title/content__title.css);
@import url(./__item/content__item.css);
@import url(./__header/content__header.css);
@import url(./__image/content__image.css);
@import url(./__subtitle/content__subtitle.css);
@import url(./__paragraph/content__paragraph.css);

.content {
    margin: 26px 22px 0 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .content {
        margin: 26px 23px 0;
    }
}